* {
  box-sizing: border-box;
  font-family: $font-stack-primary;
}

body {
  background-color: black;
  color: white;
}

ul {
  list-style: none;
  margin: 2em;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.site-header {
  display: block;
  padding-top: 1.5em;
}

.row {
  display:flex;
  justify-content:space-between;
  padding:0 20px;
  margin: 0 20px;
}

.primary,
.row_3{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  @include mq{
    flex-wrap: nowrap;
  }
}

.row_2{
  @include mq{
    max-width: 80%;
    align-items: center;
    margin: 0 auto;
  }
}


.lt_item,
.rt_item,
.lt_r2_item,
.lt_r3_item,
.rt_r3_item {
  display: flex;
  flex-direction: column;
  max-width:100%;
  margin: 0 10px;
  padding:20px;
  @include mq{
  }
}

.lt_img,
.rt_img,
.lt_r3_img,
.rt_r3_img {
  display: block;
  width: 100%;
}

.project_meta {
  width:100%;
}


.plus {
  height: 1.5em;
  width: auto;
  @include mq{
    height: 2.7em;
  }
}

.plus svg {
  display: block;
  height: 1.5em;
  width: auto;
  @include mq{
    height: 2.7em;
  }
}

.logo svg {
  display: block;
  height: 1.5em;
  width: auto;
  @include mq{
    height: 2.7em;
  }
}

.logo {
  height: 50px;
  width: 50px;
}

.plus:hover {
  transform: rotate(90deg);
  transition: 1s ease;
  transform-origin: 50% 50%;
}

.information{
  line-height: 1.7em;
  text-transform: uppercase;
  letter-spacing: .03em;
}
