* {
  box-sizing: border-box;
  font-family: $font-stack-primary;
}

body {
  background-color: black;
  color: white;
}

ul {
  list-style: none;
  margin: 2em;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.site-header {
  display: block;
}

.row{
  display:flex;
  justify-content:space-between;
  padding:0 20px;
  margin: 0 20px;
}

.primary{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
  @include mq{
    flex-wrap: nowrap;
  }
}

.lt_item,
.rt_item {
  display: flex;
  flex-direction: column;
  max-width:100%;
  margin: 0 10px;
  padding:20px;
  @include mq{
    max-width: 50%;
  }
}

.lt_img,
.rt_img {
  display: block;
  width: 100%;
}

.project_meta {
  width:100%;
}


.plus {
  height: 50px;
  width: 50px;
}

.plus svg {
  display: block;
  height: 50px;
  width: 50px;
}

.logo svg {
  display: block;
  height: 50px;
  width: auto;

}

.logo {
  height: 50px;
  width: 50px;
}

.plus:hover {
  transform: rotate(90deg);
  transition: 1s ease;
  transform-origin: 50% 50%;
}
